<#
	string directiveName = this.Dsl.Name;
#>
<#@ include file="..\TextTemplates\Dsl\ModelDirectiveProcessor.tt" #>
<#@ Dsl processor="DslDirectiveProcessor"  requires="fileName='..\DslDefinition.dsl'" #>
