<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\DslDefinition.dsl'" #>
<#@ include file="..\TextTemplates\Dsl\SerializationHelper.tt" #>
<#@ include file="..\TextTemplates\Dsl\MonikerAmbiguityValidation.tt" #>
<#
	GenerateMonikerAmbiguityValidation(this.DslLibrary);
#>