<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("8fa6312d-5282-4261-9438-810a4c01580b");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
